<ngx-spinner></ngx-spinner>

<table id="celebrity-get" class="center">
  <tr>
    <td>
      <h1> Search Celebrity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
    </td>
  </tr>
  <tr>
    <td>
      <form>
        <span>
          <input class="get-input" type="text" #cele placeholder="Enter name e.g. elon musk">
          <button class="input-button" (click)="getCeleb(cele.value)">Celebrity</button>
        </span>
      </form>
    </td>
  </tr>
</table>

<div *ngIf="celeb" class="table-responsive w-75 mx-auto">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col"> Name </th>
        <th scope="col"> Net Worth </th>
        <th scope="col"> Occupation </th>
        <th scope="col"> Age </th>
        <th scope="col"> Height </th>
        <th scope="col"> Nationality </th>
        <th scope="col"> Birthday </th>
        <th scope="col"> Death </th>
        <th scope="col"> Gender </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="table-info">
          <a href="{{ imdbUrl }}" target="_blank">
            {{ celeb?.name || notFound }}
          </a>
        </td>
        <td class="table-success">
          {{ (celeb?.net_worth | currency:'USD':"symbol":"1.0-2") || notFound }}
        </td>
        <td class="table-primary"> {{ celeb?.occupation ? celeb?.occupation[0] : notFound }} </td>
        <td class="table-primary"> {{ celeb?.age || notFound }} </td>
        <td class="table-primary"> {{ (celeb?.height | meterToFeet) || notFound}} </td>
        <td class="table-primary"> {{ celeb?.nationality || notFound }} </td>
        <td class="table-primary"> {{ celeb?.birthday || notFound }} </td>
        <td class="table-primary"> {{ celeb?.death || notFound }} </td>
        <td class="table-primary"> {{ celeb?.gender || notFound }} </td>
      </tr>
    </tbody>
  </table>
</div>

<table *ngIf="celebNotFound" class="center">
  <tr> <td> <h5>Celebrity not found.</h5> </td> </tr>
</table>

  <!-- <table id="celebrity-get" class="center mainItemTable">
    <tr>
      <th> Name </th>
      <th> Net Worth </th>
      <th> Occupation </th>
      <th> Age </th>
      <th> Height </th>
      <th> Nationality </th>
      <th> Birthday </th>
      <th> Death </th>
      <th> Gender </th>
    </tr>
    <tr>
    </tr>
  </table> -->


<!-- <div *ngIf="celebFound && isMobile">
  <table id="celebrity-get" class="center mainItemTable">
    <tr>
      <th> Name </th>
      <th> Net Worth </th>
      <th> Occupation </th>
      <th> Age </th>
      <th> Height </th>
    </tr>
    <tr class="marginbottom">
      <td>
        {{ celeb.name || notFound }}
      </td>
      <td>
        {{ (celeb.net_worth | currency:'USD':'symbol':"1.0-2") || notFound }}
      </td>
      <td>
        {{ celeb?.occupation ? celeb.occupation[0] : '' || notFound }}
      </td>
      <td>
        {{ celeb.age || notFound }}
      </td>
      <td>
        {{ (celeb.height | meterToFeet) || notFound}}
      </td>
    </tr>
    <tr>
      <th> Nationality </th>
      <th> Birthday </th>
      <th> Death </th>
      <th> Gender </th>
    </tr>
    <tr>
      <td>
        {{ celeb.nationality || notFound }}
      </td>
      <td>
        {{ celeb.birthday || notFound }}
      </td>
      <td>
        {{ celeb.death || notFound }}
      </td>
      <td>
        {{ celeb.gender || notFound }}
      </td>
    </tr>
  </table>
</div>
<div [hidden]="!celebNotFound">
  <table id="celebrity-Not-Found" class="center">
    <tr>
      <td>
        <h2 class="large">Net worth not found</h2>
      </td>
    </tr>
    <tr>
    </tr>
  </table>
</div>
 -->
<!-- <table *ngIf="!isMobile" id="celebrity-get" class="center">
  <tr>
    <td>
      <app-adsense [useTable]="true" [isMobileDevice]="true"></app-adsense>
    </td>
  </tr>
</table> -->