.vert-ad-follow {
  float: left;
  position: fixed;
  right: 5rem !important;
  top: 45%;
  transform: translateY(-45%) !important;
}

table.center {
  margin-left: 1% !important;
  margin-right: 1% !important;
  margin-bottom: 1%;
  outline: none !important;
}

.center,
.center tr,
.center th,
.center td {
  border: none !important;
}

.table,
.table tr,
.table th,
.table td {
  border: none !important;
  outline: none !important;
}

.adsense {
  border: none !important;
  outline: none !important;
  border-bottom: none !important;
}

.adsense:hover {
  outline: none !important;
  border: none !important;
}

.adsense:visited {
  outline: none !important;
  border: none !important;
}

.adsense:active {
  outline: none !important;
  border: none !important;
}

.adsense:focus {
  outline: none !important;
  border: none !important;
}

.adsense,
.adsense tr,
.adsense th,
.adsense td {
  border: none !important;
  outline: none !important;
}